{% load static %}
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" type="text/css" href="/static/pjt_inventory/bootstrap.min.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/static/pjt_inventory/style.css"/>

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="/static/pjt_inventory/simple-sidebar.css"/>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Inventory PJT</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

    </head>
    <body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{% url 'pjt_inventory:index' %}">
                        Product Management
                    </a>
                </li>
                <li>
                    <a href="{% url 'pjt_inventory:product_list' %}">Product</a></li>
                </li>
                <li>
                    <a href="{% url 'pjt_inventory:supplier_list' %}">Supplier</a></li>
                </li>
                <li>
                    <li><a href="{% url 'pjt_inventory:brand_list' %}">Brand</a></li>
                </li>
                <li>
                    <a href="{% url 'pjt_inventory:category_list' %}">Category</a>
                </li>
                <li>
                    <li><a href="{% url 'pjt_inventory:index' %}">Sales</a></li>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% block content %}
                        {% if user.is_authenticated %}
                            <h5>Hi, {{ user.username }}.</h5>
                        {% endif %}
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
<!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

<div id="container">
    <div id="content">
    </div>
</div>
<div id="footer">
    <div class="padding-footer">
        <p align="right"></p>
    </div>
</div>
</body>
</html>